[Unit]
Description=Run script at startup after all systemd services are loaded

[Service]
ExecStart=/etc/goxlr/goxlr-on-linux/configure_goxlr.sh


[Install]
WantedBy=multi-user.target
